.courses
    form(name="courses")
        .row.search-panel
            .col-xs-5
                input(type="text" class="form-control search-panel__input" ng-model-options="{ updateOn: 'submit'}" ng-model="CoursesCtrl.search_name" placeholder="Фрагмент имени или дата")
            .col-xs-3
                input(type="submit" value="найти" class="search-panel__button btn btn-default")
            .col-xs-4
                a(class="search-panel__button search-panel__button_new btn btn-default" href="#/courses/new") Добавить курс
    div(class="row" ng-repeat="course in CoursesCtrl.courses | byName: CoursesCtrl.search_name")
        .col-xs-12
            div(class="row course-block")
                .col-xs-9
                    .row
                        .col-xs-12.course-block__head
                            span(class="course-block__name") {{::course.name}}
                            span(class="course-block__duration") {{::course.duration | duration}}
                            span(class="course-block__date") {{::course.date | date:'dd.MM.yyyy'}}
                        .col-xs-12
                            span {{course.authors.join(', ')}}
                .col-xs-3
                    .row
                        .col-xs-12
                            a(class="course-block__button btn btn-default" ng-href="{{::'#/courses/' + course.id}}") Редактировать
                    .row
                        .col-xs-12
                            button(class="course-block__button btn btn-default" ng-click="CoursesCtrl.deleteCourse(course)") Удалить