form(class="form-horizontal" role="form" name="form")
    .form-group
        label(class="course__label control-label" for="name") Название
        .course__input
            p(ng-class="{ 'has-error' : form.name.$invalid && form.name.$dirty}")
                input(class="form-control" placeholder="Название" ng-model="CourseCtrl.form.name" name="name" type="text" required)
    .form-group
        label(class="course__label control-label" for="description") Описание
        .course__input
            p(ng-class="{ 'has-error' : form.description.$invalid && form.description.$dirty}")
                textarea(class="form-control" placeholder ="Описание" ng-model="CourseCtrl.form.description" name="description" rows="3" required)
    .form-group
        label(class="course__label control-label" for="date") Дата
        .course__input
            p(ng-class="{ 'has-error' : form.date.$invalid && form.date.$dirty}")
                input(class="form-control" placeholder ="Дата" ng-model="CourseCtrl.form.date" name="date" app-date required)
    .form-group
        label(class="course__label control-label" for="duration") Продолжительность
        .course__input
            p(ng-class="{ 'has-error' : form.duration.$invalid && form.duration.$dirty}")
                input(class="form-control course__duration" placeholder ="Продолжительность" ng-model="CourseCtrl.form.duration" name="duration" required)
                label(class="control-label") {{CourseCtrl.form.duration |duration}}
    .form-group
        label(class="course__label control-label" for="date") Список авторов
        .course__input
            div(ng-class="{ 'has-error' : form.authors.$invalid && form.authors.$dirty}")
                div(app-2list="CourseCtrl.authors" ng-model="CourseCtrl.form.authors" name="authors" class="course__select" required)
    .form-group
        .col-xs-offset-4.course__input
            button(class="btn btn-primary" ng-disabled="form.$invalid" ng-click="CourseCtrl.save()") Сохранить
            a(class="btn btn-default" href="#/courses") Отмена