.modal-header
    h3.modal-title Удаление курса?
.modal-body
    Are Вы уверены что хотите удалить {{deleteCtrl.name}}?

.modal-footer
    button(class="btn btn-danger" ng-click="deleteCtrl.ok()") Удалить
    button(class="btn btn-default" ng-click="deleteCtrl.cancel()") Отмена
