.twolist
    select(class="form-control" multiple ng-model="vm.select1" name="list" ng-options="author for author in vm.list")
    .course__buttons
        button(type="button" class="btn btn-default btn-lg" ng-click="vm.add()") <
        button(type="button" class="btn btn-default btn-lg" ng-click="vm.remove()") >
    select(class="select2" multiple ng-model="vm.select2" ng-options="author for author in vm.list2|notIn:vm.list")
