$margin-buttom: 15px;

.search-panel {
  margin-bottom: $margin-buttom;
}

.search-panel__button_new {
  float: right;
}

.course-block {
  border: 1px solid #000000;
  margin: 0 0 $margin-buttom 0;
  padding: 10px 0;
}

.course-block__head{
  margin-bottom: 10px;
}

.course-block__name{
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.course-block__date{
  float: right;
  font-size: 16px;
  font-weight: bold;
}

.course-block__button{
  float: right;
  width: 100%;
  margin-bottom: 10px;
}