.course__label {
  @extend .col-xs-3;
}

.course__input {
  @extend .col-xs-9;
}

.course__select {
  select {
    width: calc(50% - 50px);
    float: left;
  }
}

.course__buttons {
  margin: 0 20px;
  float: left;

  button {
    display: block;
  }
}

.course__duration {
  width: auto;
  display: inline;
  margin-right: 10px;
}

.course__input {
  .btn-primary {
    margin-right: 20px;
  }
}

.twolist {
  select {
    height: 100px;
  }
}