.login {
  display: table;
  width: 100%;
  height: 100%;
}

.login__wrapper {
  display: table-cell;
  vertical-align: middle;
}

.login-form {
  width: 500px;
  margin: 0 auto;
}

.login-form__label {
  width: 100px;
  display: inline-block;
  text-align: right;
  padding-right: 30px;
}

.login-form__input {
  height: 40px;
  display: inline-block;

  width: 300px;
}

.login-form__required {
  position: absolute;
  color:$brand-danger;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}

.login-form__submit{
  margin-left: 100px;
}