
.navbar {
  padding-top: 10px;
}

.navbar-header{
  width: 100%;
}

.navbar__user {
  float: right;
}

.navbar__logout{
  display: block;
  text-align: right;
}

.breadcrumb{
  width: 400px;
  background: none;
  display: inline-block;
  margin-bottom: 0;
}

.logo{
  margin-bottom: 10px;
}