doctype html
html(ng-app='app')
    head
        meta(charset='UTF-8')
        title epam2
        // inject:css
        // endinject
    body
        div(ng-controller="MainCtrl as MainCtrl" class="wrapper")
            nav(class="navbar navbar-default navbar-static-top" role="navigation")
                .container
                    .navbar-header
                        img(src="http://lorempixel.com/g/50/50/abstract/" class="logo")
                        span(app-breadcrumb)
                        div(class="navbar__user" ng-if="MainCtrl.IsAuthenticated()")
                            = 'user '
                            span(ng-bind="MainCtrl.getUserName()")
                            a(ng-click="MainCtrl.logout()" href="#" class="navbar__logout") logoff
            ng-view.container.view
            footer.footer
                .container
                p.text-center copyright 2016
        // bower:js
        // endinject
        // inject:js
        // endinject