html{
  height: 100%;
}

body {
  font-family: 'helveticaneuecyrmedium', Helvetica,helveticaneue, Arial, sans-serif;
  line-height: 1.425;
  background-color: #f5f5f5;
  min-width: 740px;
  height: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.wrapper{
  position: relative;
  padding-bottom: 70px;
  min-height: 100%;
  height: 100%;
}

.view{
  height: calc(100% - 50px);
  display: table;
}



.footer {
  border-top: 1px solid #000000;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
