.login
    .login__wrapper
        //.col-xs-4.col-xs-offset-4
        form(class="form-horizontal login-form" role="form" name="form")
            div(class="alert alert-warning" ng-if="!LoginCtrl.checkLogin") Не правильный логин или пароль
            p(ng-class="{ 'has-error' : form.username.$invalid && form.username.$dirty}")
                label(for="username" class="login-form__label") Логин
                input(class="form-control login-form__input" placeholder="Логин" ng-model="LoginCtrl.user.username" name="username" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="LoginCtrl.regLogin")
                label(class="login-form__required" ng-if="form.username.$error.required && form.username.$dirty") *введите
                label(class="login-form__required" ng-if="form.username.$error.pattern") *только латинские буквы
            p(ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty}")
                label(for="password" class="login-form__label") Пароль
                input(class="form-control login-form__input" placeholder="Пароль" ng-model="LoginCtrl.user.password" type="password" name="password" ng-model-options="{ updateOn: 'blur' }" required ng-pattern="LoginCtrl.regPassword")
                label(class="login-form__required has-error" ng-if="form.password.$error.required && form.password.$dirty") *введите
                label(class="login-form__required has-error" ng-if="form.password.$error.pattern") *только латинские буквы и цифры
            p
                button(class="btn btn-default login-form__submit" ng-disabled="form.username.$invalid || form.password.$invalid" ng-click="LoginCtrl.login()") Войти